// table tr td:first-child {
//     margin-top: -5px;
//     color: red;
// }

button {
  margin: 16px 0;
}

.product__info {
    display: flex;
    align-items: center;
    gap: 6px;

}

// .product__info {
//     color: red;
//     margin-top: -5px;
// }