<h2>{{ ftseData.PRODUCT_NAME }}</h2>

<table>
  <tr>
    <td class="text__accent">ISIN</td>
    <td class="product__info">
      {{ ftseData.PRODUCT_ISIN }}
      <app-copy-button
        [value]="ftseData.PRODUCT_ISIN"
        label="Copy ISIN"
      ></app-copy-button>
    </td>
  </tr>
  <tr>
    <td class="text__accent">WKN</td>
    <td class="product__info">
      {{ ftseData.PRODUCT_WKN }}
      <app-copy-button
        [value]="ftseData.PRODUCT_WKN"
        label="Copy ISIN"
      ></app-copy-button>
    </td>
  </tr>
</table>

<button
  (click)="fetchDevPrice()"
  matButton="tonal"
  type="submit"
  class="submit-btn"
>
  Kurs abrufen
</button>

@for (row of assetRows; track row.name) {
  <div class="table__row">
  @for (assetData of row; track assetData.name) {
    <app-asset-details [assetData]="assetData"
    [currentPrice]="currentPrice"></app-asset-details>
  }
  </div>
}