<h2>{{ assetData.PRODUCT_NAME }}</h2>

<table>
  <tr>
    <td class="text__accent">ISIN</td>
    <td class="product__info">
      {{ assetData.PRODUCT_ISIN }}
      <app-copy-button
        [value]="assetData.PRODUCT_ISIN"
        label="Copy ISIN"
      ></app-copy-button>
    </td>
  </tr>
  <tr>
    <td class="text__accent">WKN</td>
    <td class="product__info">
      {{ assetData.PRODUCT_WKN }}
      <app-copy-button
        [value]="assetData.PRODUCT_WKN"
        label="Copy ISIN"
      ></app-copy-button>
    </td>
  </tr>
</table>

<button
  (click)="fetchLivePrice()"
  matButton="tonal"
  type="submit"
  class="submit-btn"
>
  Kurs abrufen
</button>

<app-asset-details
  [amounts]="assetData"
  [purchaseDate]="purchaseDate"
  [initialVolume]="initialVolume"
  [currentPrice]="currentPrice"
  [currentVolume]="currentVolume"
  [profitEuro]="profitEuro"
  [profitPercent]="profitPercent"
>
</app-asset-details>
