button {
  // width: 16px;
  // height: 16px;
  // border: 1px solid #e3e2e6;
  // border-radius: 2px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;

  // mat-icon {
  //   margin-top: -1px;
  //   margin-left: -6px;
  //   width: 14px;
  //   height: 14px;
  //   font-size: 14px;
  // }
}
