button {
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 24px;
  line-height: 24px;

  mat-icon {
    font-size: 16px;
    position: absolute;
    top: 2px;
    left: -1px;
    transition: opacity 150ms ease-in-out;
    opacity: 1;

    &.hidden {
      opacity: 0;
    }

    &.check {
      opacity: 0;
    }

    &.visible {
      opacity: 1;
    }
  }
}
