a {
  margin-bottom: 12px;

  mat-icon {
    transition: background-color 500ms cubic-bezier(0.2, 0, 0, 1),
      color 500ms cubic-bezier(0.2, 0, 0, 1),
      margin-left 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
}

a:last-child {
  margin-bottom: 0;
}