// .index__numbers {
//   display: flex;
//   align-items: center;
//   gap: 0.25rem;
// }

.text__accent {
  color: light-dark(#56575b, #bbb9be);
}

table tr td:first-child {
  padding-right: 10px;
}

button {
  margin: 16px 0;
}