table {
  td:nth-child(2),
  th:nth-child(2) {
    width: 120px;
  }

  tr {
    th {
      text-align: left;
      font-size: 20px;
      font-weight: 500;
    }

    td:first-child {
      padding-right: 10px;
    }

    .text--pos {
      color: light-dark(#28a745, #28ebcf);
    }

    .text--neg {
      color: light-dark(#dc3545, #f79880);
    }
  }
}
