@use "@angular/material" as mat;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

.darkMode {
  color-scheme: dark;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

.lightMode {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2 {
  margin-top: 8px;
}

h1,
h2 {
  font-weight: 500;
}

.table__row {
  display: flex;
  gap: 32px;

  @media (width < 580px) {
    flex-direction: column;
    gap: 16px;
  }
}

.text__accent {
  color: light-dark(#56575b, #bbb9be);
}

table {
  tr {
    td {
      font-size: 20px;
    }

    td:first-child {
      padding-right: 10px;
    }
  }
}

@media print {
  .print__hide {
    display: none !important;
  }

  .table__row {
    margin-bottom: 8px;
  }

  .table__row:last-child {
    margin-bottom: 0px;
  }
}
